#form-busca{
    padding: 30px 20px 15px;
    background: $secondary;
}

.btn-enviar{
    font-size: 0.1px;
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 0;
    background: transparent top center no-repeat url('./../img/homepage/island.jpg');
}